* {
    background-color: white;
}
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(4, 1fr); 
    gap: 10px;
}
#a {
    background-color: aqua;
    grid-column: 1 / span 4;
    grid-row: 1;
}

#b {
    background-color: aqua;
    grid-column: 1;
    grid-row: 2 / span 2; 
}

#c {

    background-color: aqua;
    grid-column: 2 / span 2;
    grid-row: 2;
}

#d {
    background-color: aqua;
    grid-column: 4;
    grid-row: 2;
}

#e {
    background-color: aqua;
    grid-column: 2 / span 3; 
    grid-row: 3;
}

#f {
    background-color: aqua;
    grid-column: 1 / span 4;
    grid-row: 4;
}